/*root {*/
/*    --font-color: #DFA;*/
/*    --background-color: #0F0F0F;*/
/*    --border-color: #174117;*/
/*    --blue: #E1F5EF;*/
/*    --green: #82C09A;*/
/*    --mid-green: #496E63;*/
/*    --grey: #829298;*/
/*    --pink: #fc9383;*/
/*}*/

/**, html, .navbar, nav, body, .table, .bg-body-tertiary{*/
/*    color: #008170 !important;*/
/*    background-color: #0F0F0F !important;*/
/*}*/
/*code {*/
/*    color: #232D3F !important;*/
/*}*/
/*.table*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}